@font-face {
    font-family: "PT sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT sans", sans-serif;
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT sans", sans-serif;
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.main-container {
    flex-grow: 1;
}

.navigation {
    display: grid;
    grid-template-columns: 140px 592px 268px;
    grid-gap: 30px;
    width: 1060px;
    margin: 0;
    padding-right: 70px;
    padding-left: 70px;
}

.page-header-logo {
    margin-bottom: -6px;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-link {
    display: block;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0;
    padding: 20px 16px 20px 16px;
}

.navigation-user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navigation-item {
    list-style-type: none;
}

.navigation-link-current {
    display: block;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    text-transform: capitalize;
    padding: 20px 16px 20px 16px;
}

.navigation-user-link {
    display: block;
    list-style-type: none;
    min-width: 44px;
    min-height: 64px;
    margin: 0;
    padding: 20px 12px 20px 12px;
    box-sizing: border-box;
}

.navigation-link-search {
    background-image: url(../images/header/search.svg);
    background-repeat: no-repeat;
}

.navigation-link-favorite {
    background-image: url(../images/header/heart.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}


/* .notification-badge {
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    list-style-type: none;
    border-radius: 50%;
    background-color: #7DB54F;
    color: #ffffff;
    padding: 5px 5px 5px 5px;
    position: absolute;
} */

.button {
    font-family: "PT sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.advantages-button {
    display: block;
    background-color: #756157;
    padding: 8px 34px 8px 34px;
    margin-left: 20px;
    white-space: nowrap;
}

.hero {
    background-image: url("../images/hero/index-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: center;
    padding-top: 51px;
    padding-bottom: 82px;
}

.description {
    display: flex;
    flex-direction: column;
    font-family: inherit;
    flex-basis: 651px;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 69px 290px 69px 290px;
}

.description-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

.description p {
    font-size: 22px;
    line-height: 26px;
    margin: 0;
    text-align: center;
    width: 651px;
    text-wrap: nowrap;
}

.advantages-title {
    margin: 0;
    width: 230px;
}

.advantages-description {
    margin: 0;
    width: 230px;
}

.advantages-list {
    font-family: inherit;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.advantages-columns {
    background-color: #82B3D3;
    color: #ffffff;
    background-size: 100% auto;
    margin: 0;
}

.realy-town {
    display: flex;
    text-overflow: ellipsis;
}

.birge-of-devil {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
}

.advantages-blue {
    margin: 0;
    padding: 100px 85px 100px 85px;
}

.advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 62px;
}

.advantages-columns-2 {
    margin: 0;
    background-color: rgba(131, 179, 211, 0.12);
    background-size: 100% auto;
    width: 230px;
    padding: 113px 85px 113px 85px;
}

/* .advantages-columns-2 h3 {
    font-weight: 700;
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    width: 175px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    margin-bottom: 62px;

} */

.advantages-item-road {
    margin: 0;
    background-color: rgba(131, 179, 211, 0.2);
    background-size: 100% auto;
    width: 230px;
    padding: 113px 85px 113px 85px;
}

/* .advantages-item-road h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 62px;
} */

.services {
    font-family: inherit;
    font-weight: 700;
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 348px;
    padding-right: 348px;
}

.services-list {
    font-family: inherit;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
    display: grid;
    grid-template-columns: 400px 400px 400px;
}

.services-columns {
    background-color: rgba(131, 179, 211, 0.12);
    background-size: 100% auto;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 81px 85px 81px 85px;
}

.services-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}

.services p {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin: 0;
    text-align: center;
    text-wrap: nowrap;
}

.service-name {
    margin: 0;
    margin-bottom: 30px;
}

.service-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
}

.services-food {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 81px 85px 81px 85px;
}

.services-list h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.services-item-house {
    background-image: url(../images/services-icon/services-icon-1.svg);
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
    margin-bottom: 30px;
}

.services-item-food {
    background-image: url(../images/services-icon/services-icon-2.svg);
    background-repeat: no-repeat;
    align-self: auto;
    width: 74px;
    height: 70px;
    margin-bottom: 30px;
}

.services-item-souvenirs {
    background-image: url(../images/services-icon/srvices-icon-3.svg);
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    margin-bottom: 30px;
}

.find-hotel {
    font-family: inherit;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    padding: 96px 304px 96px 304px;
}

.find-hotel-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.find-hotel-description {
    margin: 0;
}

.button-find-hotel {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    border-radius: 4px;
    background-color: #756157;
    color: #ffffff;
    padding: 8px 50px 8px 50px;
    margin-top: 54px;
}

.newsletter {
    font-family: inherit;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    background-image: url(../images/Subscribe.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #82B3D3;
    color: #ffffff;
    width: 684px;
    padding: 96px 258px 104px 258px;
}

.newsletter-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}

.newsletter-catalog {
    font-family: inherit;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    width: 684px;
    padding: 96px 258px 104px 258px;
}

.newsletter-desription {
    margin: 0;
    margin-bottom: 54px;
}

.newsletter-catalog-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}

.newsletter-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #82B3D3;
    color: #ffffff;
    width: 232px;
    padding: 8px 50px 8px 50px;
}

.newsletter-form {
    width: 452px;
    display: flex;
    flex-wrap: nowrap;
    text-overflow: ellipsis;
}

.page-footer {
    display: flex;
    margin: 0;
    justify-content: space-between;
    padding: 70px 40px 30px 70px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.footer-social-item {
    list-style-type: none;
    width: 48px;
    height: 40px;
    margin: 0;
}

.button-social-Vkontakte {
    display: block;
    box-sizing: border-box;
    padding: 12px 13px 12px 13px;
}

.button-social-Telegram {
    display: block;
    box-sizing: border-box;
    padding: 12px 15px 13px 15px;
}

.button-social-You-Tube {
    display: block;
    box-sizing: border-box;
    padding: 12px 13px 12px 13px
}

.footer-phone {
    font-family: inherit;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    width: 720px;
}

.main-catalog {
    font-family: inherit;
    line-height: 23px;
    background-image: url(../images/backgroung-catalog.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #82B3D3;
    color: #ffffff;
    width: 1060px;
    padding: 35px 70px 70px 70px;
    margin-bottom: 50px;
}

.main-inner-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin: 0;
    padding: 0;
}

.breadcrumbs {
    display: grid;
    grid-template-columns: 13px 8px 73px;
    grid-gap: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 114px;
    height: 21px;
    margin-top: 8px;
    margin-bottom: 40px;
}

.breadcrumbs-tick {
    background-image: url(../images/breadcrumbs/breadcrumbs-tick.svg);
}

.breadcrumbs-main-link {
    background-image: url(../images/breadcrumbs/breadcrumbs-main.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 12px;
    height: 12px;
}

.products-container {
    display: flex;
    margin: 0;
    padding: 0;
    width: 1060px;
}

.catalog-products {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-gap: 70px;
    width: 371px;
    margin: 0;
    padding: 0;
}

.catalog-filter-group {
    border: none;
    padding: 0;
    margin: 0;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 32px;
}

.catalog-filter-list {
    width: 150px;
    margin: 0;
    padding: 0;
}

.catalog-filter-item {
    list-style: none;
    margin-bottom: 16px;
}

.catalog-filter-item:nth-child(3) {
    margin-bottom: 0;
}

.hotel-price-section {
    display: flex;
    margin: 0;
    padding: 0;
    width: 549px;
    margin-left: 140.15px;
}

.form-price-container {
    display: flex;
    margin: 0;
    padding: 0;
}

.hotel-price-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
}

.hotel-price-container {
    margin: 0;
    padding: 0;
    margin-left: 140px;
}

.price-button-container {
    display: grid;
    grid-template-rows: 36px 36px;
    grid-gap: 32px;
    width: 191px;
    margin-top: 56px;
}

.button-apply {
    background-color: #82B3D3;
}

.button-throw-off {
    background-color: transparent;
}

.search-hotel-container {
    display: flex;
    padding-right: 70px;
    padding-left: 70px;
    width: 1060px;
}

.search-hotels {
    font-family: inherit;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.search-hotel-title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: -1px;
    margin: 0;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
}

.select-control {
    width: 292px;
    height: 49px;
    margin-left: 200px;
    padding: 0;
    border-radius: 4px;
    border-color: #E5E5E5;
}

.page-filter-button {
    display: grid;
    grid-template-columns: 48px 48px 48px;
    grid-gap: 8px;
    margin: 0;
    padding: 0;
    margin-left: 70px;
    margin-bottom: 40px;
    box-sizing: border-box;
    background-position: center;
}

.button-show-cards {
    background-image: url(../images/View-icon/View-icon-cards.svg);
    background-repeat: no-repeat;
    background-color: #ffffff;
    border-radius: 4px;
}

.button-one-product {
    background-image: url(../images/View-icon/View-icon-one-product.svg);
    background-repeat: no-repeat;
    background-color: #ffffff;
    border-radius: 4px;
    border-color: #E5E5E5;
}

.button-show-list {
    background-image: url(../images/View-icon/View-icon-list.svg);
    background-repeat: no-repeat;
    background-color: #ffffff;
    border-radius: 4px;
    border-color: #E5E5E5;
}

.product-card-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0;
    padding-right: 70px;
    padding-left: 70px;
    justify-content: flex-start;
}

.product-card {
    display: grid;
    background-color: #ffffff;
    list-style: none;
    width: 300px;
    padding: 20px;
    border: 1px solid #E6E6E6;
    margin-right: 20px;
    margin-bottom: 20px;
}

.product-card-link {
    text-decoration: none;
    color: #000000;
}

.product-card-image {
    margin-bottom: 16px;
}

.product-card-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 16px;
}

.product-card:nth-child(3n) {
    margin-right: 0;
}

.product-card-description {
    display: flex;
    justify-content: space-between;
    font-family: inherit;
    color: #333333;
    margin: 0;
    margin-bottom: 16px;
}

.product-card-button {
    display: grid;
    grid-template-columns: 140px 140px;
    grid-gap: 20px;
    margin: 0;
    margin-bottom: 16px;
}

.rating-container {
    display: grid;
    grid-template-columns: 140px 140px;
    grid-gap: 20px;
}

.product-card-button-detailed {
    background-color: #756157;
    padding-top: 8px;
    padding-bottom: 8px;
}

.product-card-button-favorites-current {
    background-color: #7DB54F;
    padding-top: 8px;
    padding-bottom: 8px;
}

.product-card-button-favorites {
    background-color: #82B3D3;
    padding-top: 8px;
    padding-bottom: 8px;
}

.product-card-rating {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background-color: #F2F2F2;
    color: #333333;
    padding: 9px 22px 8px 23px;
}

.product-card-4-star-rating {
    background-image: url(../images/stars/stars-4.svg);
    background-repeat: no-repeat;
}

.product-card-3-star-rating {
    background-image: url(..//images/stars/stars-3.svg);
    background-repeat: no-repeat;
}

.product-card-2-star-rating {
    background-image: url(../images/stars/stars-2.svg);
    background-repeat: no-repeat;
}

.pagination-list {
    list-style: none;
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px 60px;
    grid-gap: 8px;
    padding-left: 70px;
    margin-top: 80px;
    margin-bottom: 60px;
}

.pagination-link {
    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    color: #ffffff;
    border-radius: 4px;
    padding: 11px 25px 13px 24px;
}

.pagination-link-ellipsis {
    padding: 17px 21px 17px 21px;
}

.pagination-link-10 {
    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    color: #ffffff;
    border-radius: 4px;
    padding: 12px 18px 12px 18px;
}

.pagination-link-current {
    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    border-radius: 4px;
    padding: 12px 24px 12px 24px;
    background-color: #F2F2F2;
    color: #000000;
}

.field {
    background-color: #F2F2F2;
    min-width: 452px;
    height: 52px;
    border: none;
    padding: 0;
    margin: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: insert(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
